.todo-item{
  min-width: 310px;
  margin: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  .todo-title{
    display: flex;
    flex: 1;
  }
  .delete-button{
    border: none;
    background-color: red;
    margin-left: 10px;
  }
  .edit-button{
    border: none;
    background-color: goldenrod;
    margin-left: 10px;
  }
  .completed-button{
    border: none;
    background-color: green;
    margin-left: 10px;
  }
    .unCompleted-button {
      border: none;
      background-color: blue;
      margin-left: 10px;
    }
}